* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
  background-color: black;
  min-height: 500px;
}
.column img{ max-width:100%;}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
p {
  color: #4CAF50;
}

.check{
	width: 30%; float:left;
}
.row{ width:70%; float:left;}
.text-cont{
	width: 100%;
margin-top: 30px;
}